<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <mapping class="ru.demo.sessia5.model.Student"/>
    </session-factory>
</hibernate-configuration>

CREATE TABLE students (
    id SERIAL PRIMARY KEY,
    faculty VARCHAR(20) NOT NULL,
    specialty_number INT NOT NULL CHECK (specialty_number BETWEEN 1 AND 500000),
    last_name VARCHAR(20) NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    middle_name VARCHAR(20)
);
